#container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    gap: 20px;
    margin-top: 30px;
}

#container>div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 30px;
}